doctype html
//
  Hielo by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
head
  title OpenRGB Hardware Sync Plugin
  include includes/head.pug

// Header
include includes/header.pug
  
// Nav
include includes/nav.pug

// Banner
section.banner.half
  article
    img(src='../../static/images/green.webp' alt='OpenRGB green color scheme')
    .inner
      header
        p Monitor your hardware statistics using your RGB devices
      button
        a(href='#downloads') Download
// Description
section#description.wrapper.style2
  .inner
    p
      | Want to keep an eye on your CPU and GPU temperatures while you&apos;re in game? The Hardware Sync Plugin will let
      | you know if your temperatures are too high by changing the color of your RGB. Many more system parameters are 
      | supported as well, and multiple devices can indicate multiple measurements.
    br
// Banner
section.banner.half
  article
    img(src='../../static/images/green.webp' alt='')
// Downloads
section#downloads.wrapper.style2
  #dl.inner
    header#dl.align-center
      h1 Release 0.9 (July 11, 2023)
      p The 0.9 release of the OpenRGB Hardware Sync Plugin is intended for use with the 0.9 release of OpenRGB.
      a(href='https://openrgb.org/releases/plugins/hardwaresync/release_0.9/OpenRGBHardwareSyncPlugin_0.9_Windows_64_dcefdd5.dll')
        | Windows (64-bit)
      |  - 
      a(href='https://openrgb.org/releases/plugins/hardwaresync/release_0.9/LHWMWrapper.zip')
        | LHWM Wrapper for Windows (64-bit)
      br
      a(href='https://openrgb.org/releases/plugins/hardwaresync/release_0.9/OpenRGBHardwareSyncPlugin_0.9_Buster_64_dcefdd5.so')
        | Linux (64-bit Debian Buster)
      br
      a(href='https://openrgb.org/releases/plugins/hardwaresync/release_0.9/OpenRGBHardwareSyncPlugin_0.9_Bullseye_64_dcefdd5.so')
        | Linux (64-bit Debian Bullseye)
      br
      a(href='https://openrgb.org/releases/plugins/hardwaresync/release_0.9/OpenRGBHardwareSyncPlugin_0.9_Bookworm_64_dcefdd5.so')
        | Linux (64-bit Debian Bookworm)
      br
      br
    header#pl.align-center
      h1 Pipeline (Experimental)
      p Pipeline builds are built from the latest source code and are updated regularly, but are less tested.
        br
        | If you are using the pipeline version of OpenRGB, you may also need to use the pipeline version of plugins.
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBHardwareSyncPlugin')
        | GitLab (Source)
      br
      br
    header#pl-windows.align-center 
      h1 Windows Pipeline Builds
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBHardwareSyncPlugin/-/jobs/artifacts/master/download?job=Windows+64+MSI')
        | Windows Installer (64-bit)
      br
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBHardwareSyncPlugin/-/jobs/artifacts/master/download?job=Windows+64')
        | Windows (64-bit)
      |  - 
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBHardwareSyncPlugin/-/jobs/artifacts/master/download?job=Windows+32')
        | Windows (32-bit)
      br
      br
    header#pl-linux-x86.align-center
      h1 x86 Linux Pipeline Builds
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBHardwareSyncPlugin/-/jobs/artifacts/master/download?job=Linux+amd64')
        | Linux amd64
      |  - 
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBHardwareSyncPlugin/-/jobs/artifacts/master/download?job=Linux+i386')
        | Linux i386
      br
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBHardwareSyncPlugin/-/jobs/artifacts/master/download?job=Linux+amd64+.deb+(Debian+Bookworm)')
        | Linux amd64 (Debian Bookworm .deb)
      |  - 
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBHardwareSyncPlugin/-/jobs/artifacts/master/download?job=Linux+i386+.deb+(Debian+Bookworm)')
        | Linux i386 (Debian Bookworm .deb)
      br
      br
    header#pl-linux-arm.align-center
      h1 Arm Linux Pipeline Builds
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBHardwareSyncPlugin/-/jobs/artifacts/master/download?job=Linux+arm64')
        | Linux arm64
      |  - 
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBHardwareSyncPlugin/-/jobs/artifacts/master/download?job=Linux+armhf')
        | Linux armhf
      br
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBHardwareSyncPlugin/-/jobs/artifacts/master/download?job=Linux+arm64+.deb+(Debian+Bookworm)')
        | Linux arm64 (Debian Bookworm .deb)
      |  - 
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBHardwareSyncPlugin/-/jobs/artifacts/master/download?job=Linux+armhf+.deb+(Debian+Bookworm)')
        | Linux armhf (Debian Bookworm .deb)
      br
      br
    header#pl-macos.align-center
      h1 MacOS Pipeline Builds
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBHardwareSyncPlugin/-/jobs/artifacts/master/download?job=MacOS+ARM64')
        | MacOS (Apple Silicon ARM64)
      |  - 
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBHardwareSyncPlugin/-/jobs/artifacts/master/download?job=MacOS+Intel')
        | MacOS (Intel)
      br
      br
    header.align-center
      h1 Release 0.8 (December 3, 2022)
      p The 0.8 release of the OpenRGB Hardware Sync Plugin is intended for use with the 0.8 release of OpenRGB.
      a(href='https://openrgb.org/releases/plugins/hardwaresync/release_0.8/OpenRGBHardwareSyncPlugin_0.8_Windows_64_185a1844.dll')
        | Windows (64-bit)
      |  - 
      a(href='https://openrgb.org/releases/plugins/hardwaresync/release_0.8/LHWMWrapper.zip')
        | LHWM Wrapper for Windows (64-bit)
      br
      a(href='https://openrgb.org/releases/plugins/hardwaresync/release_0.8/OpenRGBHardwareSyncPlugin_0.8_Linux_64_Bullseye_185a184.so')
        | Linux (64-bit Debian Bullseye)
      br
      a(href='https://openrgb.org/releases/plugins/hardwaresync/release_0.8/OpenRGBHardwareSyncPlugin_0.8_Linux_64_Buster_185a184.so')
        | Linux (64-bit Debian Buster)
      br
      br

// Footer
include includes/footer.pug
