doctype html
//
  Hielo by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
head
  title OpenRGB Effects Plugin
  include includes/head.pug

// Header
include includes/header.pug
  
// Nav
include includes/nav.pug

// Banner
section.banner.half
  article
    img(src='../../static/images/green.webp' alt='OpenRGB green color scheme')
    .inner
      header
        p Synchronize your OpenRGB setup with a variety of customizable effects using the OpenRGB Effects Plugin
      button
        a(href='#downloads') Download
// Description
section#description.wrapper.style2
  .inner
    p
      | The OpenRGB Effects Plugin provides an extensive list of custom effects that can be synchronized across all devices
      | that support Direct Mode. Many standard effects are available such as Rainbow, Visor, Breathing, and more. Advanced
      | effects include several audio visualizations, Ambilight, GIF player, and a Shader renderer for using GLSL shaders
      | as RGB effects.
    br
    p
      | Note that the OpenRGB Effects Plugin only works with devices that have Direct mode.  If your device does not have
      | Direct mode, that means the hardware is unable to work with software-driven effects due to one of several limitations.
    br
// Banner
section.banner.half
  article
    img(src='../../static/images/green.webp' alt='')
// Downloads
section#downloads.wrapper.style2
  #dl.inner
    header#dl.align-center
      h1 Release 0.9 (July 11, 2023)
      p The 0.9 release of the OpenRGB Effects Plugin is intended for use with the 0.9 release of OpenRGB.
      a(href='https://openrgb.org/releases/plugins/effects/release_0.9/OpenRGBEffectsPlugin_0.9_Windows_64_f1411e1.dll')
        | Windows (64-bit)
      |  - 
      a(href='https://openrgb.org/releases/plugins/effects/release_0.9/OpenRGBEffectsPlugin_0.9_Windows_32_f1411e1.dll')
        | Windows (32-bit)
      br
      a(href='https://openrgb.org/releases/plugins/effects/release_0.9/OpenRGBEffectsPlugin_0.9_Buster_64_f1411e1.so')
        | Linux (Debian Buster 64-bit)
      |  - 
      a(href='https://openrgb.org/releases/plugins/effects/release_0.9/OpenRGBEffectsPlugin_0.9_Bullseye_64_f1411e1.so')
        | Linux (Debian Bullseye 64-bit)
      |  - 
      a(href='https://openrgb.org/releases/plugins/effects/release_0.9/OpenRGBEffectsPlugin_0.9_Bookworm_64_f1411e1.so')
        | Linux (Debian Bookworm 64-bit)
      br
      a(href='https://openrgb.org/releases/plugins/effects/release_0.9/OpenRGBEffectsPlugin_0.9_MacOS_ARM64_f1411e1.dylib')
        | MacOS (Apple Silicon ARM64)
      |  - 
      a(href='https://openrgb.org/releases/plugins/effects/release_0.9/OpenRGBEffectsPlugin_0.9_MacOS_Intel_f1411e1.dylib')
        | MacOS (Intel)
      br
      br
    header#pl.align-center
      h1 Pipeline (Experimental)
      p Pipeline builds are built from the latest source code and are updated regularly, but are less tested.
        br
        | If you are using the pipeline version of OpenRGB, you may also need to use the pipeline version of plugins.
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBEffectsPlugin')
        | GitLab (Source)
      br
      br
    header#pl-windows.align-center 
      h1 Windows Pipeline Builds
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBEffectsPlugin/-/jobs/artifacts/master/download?job=Windows+64+MSI')
        | Windows Installer (64-bit)
      br
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBEffectsPlugin/-/jobs/artifacts/master/download?job=Windows+64')
        | Windows (64-bit)
      |  - 
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBEffectsPlugin/-/jobs/artifacts/master/download?job=Windows+32')
        | Windows (32-bit)
      br
      br
    header#pl-linux-x86.align-center
      h1 x86 Linux Pipeline Builds
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBEffectsPlugin/-/jobs/artifacts/master/download?job=Linux+amd64')
        | Linux amd64
      |  - 
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBEffectsPlugin/-/jobs/artifacts/master/download?job=Linux+i386')
        | Linux i386
      br
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBEffectsPlugin/-/jobs/artifacts/master/download?job=Linux+amd64+.deb+(Debian+Bookworm)')
        | Linux amd64 (Debian Bookworm .deb)
      |  - 
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBEffectsPlugin/-/jobs/artifacts/master/download?job=Linux+i386+.deb+(Debian+Bookworm)')
        | Linux i386 (Debian Bookworm .deb)
      br
      br
    header#pl-linux-arm.align-center
      h1 Arm Linux Pipeline Builds
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBEffectsPlugin/-/jobs/artifacts/master/download?job=Linux+arm64')
        | Linux arm64
      |  - 
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBEffectsPlugin/-/jobs/artifacts/master/download?job=Linux+armhf')
        | Linux armhf
      br
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBEffectsPlugin/-/jobs/artifacts/master/download?job=Linux+arm64+.deb+(Debian+Bookworm)')
        | Linux arm64 (Debian Bookworm .deb)
      |  - 
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBEffectsPlugin/-/jobs/artifacts/master/download?job=Linux+armhf+.deb+(Debian+Bookworm)')
        | Linux armhf (Debian Bookworm .deb)
      br
      br
    header#pl-macos.align-center
      h1 MacOS Pipeline Builds
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBEffectsPlugin/-/jobs/artifacts/master/download?job=MacOS+ARM64')
        | MacOS (Apple Silicon ARM64)
      |  - 
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBEffectsPlugin/-/jobs/artifacts/master/download?job=MacOS+Intel')
        | MacOS (Intel)
      br
      br
    header.align-center
      h1 Release 0.8 (December 3, 2022)
      p The 0.8 release of the OpenRGB Effects Plugin is intended for use with the 0.8 release of OpenRGB.
      a(href='https://openrgb.org/releases/plugins/effects/release_0.8/OpenRGBEffectsPlugin_0.8_Windows_64_a82937c.dll')
        | Windows (64-bit)
      |  - 
      a(href='https://openrgb.org/releases/plugins/effects/release_0.8/OpenRGBEffectsPlugin_0.8_Windows_32_a82937c.dll')
        | Windows (32-bit)
      br
      a(href='https://openrgb.org/releases/plugins/effects/release_0.8/OpenRGBEffectsPlugin_0.8_Linux_64_a82937c.so')
        | Linux (64-bit)
      |  - 
      a(href='https://openrgb.org/releases/plugins/effects/release_0.8/OpenRGBEffectsPlugin_0.8_Linux_32_a82937c.so')
        | Linux (32-bit)
      br
      a(href='https://openrgb.org/releases/plugins/effects/release_0.8/OpenRGBEffectsPlugin_0.8_MacOS_ARM64_a82937c.dylib')
        | MacOS (Apple Silicon ARM64)
      |  - 
      a(href='https://openrgb.org/releases/plugins/effects/release_0.8/OpenRGBEffectsPlugin_0.8_MacOS_Intel_a82937c.dylib')
        | MacOS (Intel)
      br
      br

// Footer
include includes/footer.pug
