doctype html
//
  Hielo by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
head
  title OpenRGB - Plugins
  include includes/head.pug

// Header
include includes/header.pug

// Nav
include includes/nav.pug

// Banner
section.banner.half
  article
    img(src='../../static/images/green.webp' alt='OpenRGB green color scheme')
    .inner
      header
        p
          | OpenRGB&apos;s plugin system allows for limitless functionality. Expand your OpenRGB setup with these
          | plugins.
// One
section#one.wrapper.style2
  .inner
    .grid-style
      div
        .box
          .image.fit
            img(src='../../static/images/EffectsPlugin.jpg' alt='OpenRGB Effects Plugin')
          .content
            header.align-center
              p Synchronize your setup with amazing effects
              h2 OpenRGB Effects Plugin
            p
              | The OpenRGB Effects Plugin provides an extensive list of custom effects that can be
              | synchronized across all devices that support Direct Mode. Many standard effects are
              | available such as Rainbow, Visor, Breathing, and more. Advanced effects include several
              | audio visualizations, Ambilight, GIF player, and a Shader renderer for using GLSL
              | shaders as RGB effects.
            header.align-center
              p
                | Release 0.9 (July 11, 2023)
              a(href='https://openrgb.org/releases/plugins/effects/release_0.9/OpenRGBEffectsPlugin_0.9_Windows_64_f1411e1.dll')
                | Windows (64-bit)
              |  - 
              a(href='https://openrgb.org/releases/plugins/effects/release_0.9/OpenRGBEffectsPlugin_0.9_Windows_32_f1411e1.dll')
                | Windows (32-bit)
              br
              a(href='https://openrgb.org/releases/plugins/effects/release_0.9/OpenRGBEffectsPlugin_0.9_Buster_64_f1411e1.so')
                | Linux (Debian Buster 64-bit)
              |  - 
              a(href='https://openrgb.org/releases/plugins/effects/release_0.9/OpenRGBEffectsPlugin_0.9_Bullseye_64_f1411e1.so')
                | Linux (Debian Bullseye 64-bit)
              br
              a(href='https://openrgb.org/releases/plugins/effects/release_0.9/OpenRGBEffectsPlugin_0.9_Bookworm_64_f1411e1.so')
                | Linux (Debian Bookworm 64-bit)
              |
              br
              a(href='https://openrgb.org/releases/plugins/effects/release_0.9/OpenRGBEffectsPlugin_0.9_MacOS_ARM64_f1411e1.dylib')
                | MacOS (Apple Silicon ARM64)
              |  - 
              a(href='https://openrgb.org/releases/plugins/effects/release_0.9/OpenRGBEffectsPlugin_0.9_MacOS_Intel_f1411e1.dylib')
                | MacOS (Intel)
              br
              br
            header.align-center
              a(href='plugin_effects.pug')
                | More Info and Releases
      div
        .box
          .image.fit
            img(src='../../static/images/VisualMap.jpg' alt='OpenRGB Visual Map Plugin')
          .content
            header.align-center
              p Lay out your devices however you like
              h2 OpenRGB Visual Map Plugin
            p
              | Normally, OpenRGB effects engines apply patterns one device at a time. With the Visual
              | Map Plugin, you can combine one or more devices into a custom grid, allowing incredible
              | effects to shine across your entire setup as one unified display.
            header.align-center
              p
                | Release 0.9 (July 11, 2023)
              a(href='https://openrgb.org/releases/plugins/visualmap/release_0.9/OpenRGBVisualMapPlugin_0.9_Windows_64_bbf30c4.dll')
                | Windows (64-bit)
              br
              a(href='https://openrgb.org/releases/plugins/visualmap/release_0.9/OpenRGBVisualMapPlugin_0.9_Buster_64_bbf30c4.so')
                | Linux (Debian Buster 64-bit)
              |  - 
              a(href='https://openrgb.org/releases/plugins/visualmap/release_0.9/OpenRGBVisualMapPlugin_0.9_Bullseye_64_bbf30c4.so')
                | Linux (Debian Bullseye 64-bit)
              br
              a(href='https://openrgb.org/releases/plugins/visualmap/release_0.9/OpenRGBVisualMapPlugin_0.9_Bookworm_64_bbf30c4.so')
                | Linux (Debian Bookworm 64-bit)
              br
              a(href='https://openrgb.org/releases/plugins/visualmap/release_0.9/OpenRGBVisualMapPlugin_0.9_MacOS_ARM64_bbf30c4.dylib')
                | MacOS (Apple Silicon ARM64)
              |  - 
              a(href='https://openrgb.org/releases/plugins/visualmap/release_0.9/OpenRGBVisualMapPlugin_0.9_MacOS_Intel_bbf30c4.dylib')
                | MacOS (Intel)
              br
              br
            header.align-center
              a(href='plugin_visual_map.pug')
                | More Info and Releases
// Two
section#two.wrapper.style3
  .inner
    header.align-center
      p Synchronize lighting across multiple brands of devices
// Three
section#one.wrapper.style2
  .inner
    .grid-style
      div
        .box
          .image.fit
            img(src='../../static/images/OpenRGB_Hardware_Sync_Plugin.webp' alt='OpenRGB Hardware Sync Plugin')
          .content
            header.align-center
              p Visualize system statistics with RGB
              h2 OpenRGB Hardware Sync Plugin
            p
              | Want to keep an eye on your CPU and GPU temperatures while you&apos;re in game? The Hardware
              | Sync Plugin will let you know if your temperatures are too high by changing the color of
              | your RGB. Many more system parameters are supported as well, and multiple devices can
              | indicate multiple measurements.
            header.align-center
              p
                | Release 0.9 (July 11, 2023)
            header.align-center
              a(href='https://openrgb.org/releases/plugins/hardwaresync/release_0.9/OpenRGBHardwareSyncPlugin_0.9_Windows_64_dcefdd5.dll')
                | Windows (64-bit)
              |  - 
              a(href='https://openrgb.org/releases/plugins/hardwaresync/release_0.9/LHWMWrapper.zip')
                | LHWM Wrapper for Windows (64-bit)
              br
              a(href='https://openrgb.org/releases/plugins/hardwaresync/release_0.9/OpenRGBHardwareSyncPlugin_0.9_Buster_64_dcefdd5.so')
                | Linux (64-bit Debian Buster)
              br
              a(href='https://openrgb.org/releases/plugins/hardwaresync/release_0.9/OpenRGBHardwareSyncPlugin_0.9_Bullseye_64_dcefdd5.so')
                | Linux (64-bit Debian Bullseye)
              br
              a(href='https://openrgb.org/releases/plugins/hardwaresync/release_0.9/OpenRGBHardwareSyncPlugin_0.9_Bookworm_64_dcefdd5.so')
                | Linux (64-bit Debian Bookworm)
              br
              br
            header.align-center
              a(href='plugin_hardware_sync.pug')
                | More Info and Releases
      div
        .box
          .image.fit
            img(src='../../static/images/OpenRGB_Fan_Plugin.webp' alt='OpenRGB Fan Sync Plugin')
          .content
            header.align-center
              p Integrate fan control into OpenRGB
              h2 OpenRGB Fan Sync Plugin
            p
              | Controlling all your RGB in one place is great, but what about your fan speeds? The Fan
              | Sync Plugin takes care of that. Using the same backend as the Hardware Sync Plugin, the
              | Fan Sync Plugin lets you map one or more system parameters to control fan speeds,
              | including custom fan curves.
            header.align-center
              a(href='plugin_fan_sync.pug')
                | More Info and Releases
// Four
section#four.wrapper.style3
  .inner
// Five
section#five.wrapper.style2
  .inner
    .grid-style
      div
        .box
          .image.fit
            img(src='../../static/images/OpenRGB_SDK.webp' alt='OpenRGB E1.31 Receiver Plugin')
          .content
            header.align-center
              p Control OpenRGB from light show software
              h2 OpenRGB E1.31 Receiver Plugin
            p
              | OpenRGB provides an SDK for controlling lights from third party applications, but not all
              | lighting software supports it. The E1.31 protocol is an industry standard widely used in
              | both hobbyist and professional lighting control applications. Widely used for Christmas
              | light shows, many sequencing programs such as Vixen Lights and xLights can control E1.31
              | devices. With the E1.31 Receiver Plugin, you can now create fully sequenced light shows
              | for your OpenRGB devices.
            header.align-center
              a(href='plugin_e131_receiver.pug')
                | More Info and Releases
      div
        .box
          .image.fit
            img(src='../../static/images/plugins.webp' alt='OpenRGB Scheduler Plugin')
          .content
            header.align-center
              p Schedule your RGB lighting
              h2 OpenRGB Scheduler Plugin
            p
              | Want your RGB to shut off before bedtime but glow during the day? The OpenRGB Scheduler
              | Plugin lets you create customized schedules so that your RGB works exactly as you want
              | it to all throughout the day.
            header.align-center
              a(href='plugin_scheduler.pug')
                | More Info and Releases
// Six
section#six.wrapper.style3
  .inner

// Footer
include includes/footer.pug
