doctype html
//
  Hielo by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
head
  title OpenRGB Fan Sync Plugin
  include includes/head.pug

// Header
include includes/header.pug
  
// Nav
include includes/nav.pug

// Banner
section.banner.half
  article
    img(src='../../static/images/green.webp' alt='OpenRGB green color scheme')
    .inner
      header
        p Control your PC's cooling from within OpenRGB
      button
        a(href='#downloads') Download
// Description
section#description.wrapper.style2
  .inner
    p
      | Controlling all your RGB in one place is great, but what about your fan speeds? The Fan Sync Plugin takes care of
      | that. Using the same backend as the Hardware Sync Plugin, the Fan Sync Plugin lets you map one or more system
      | parameters to control fan speeds, including custom fan curves.
    br
// Banner
section.banner.half
  article
    img(src='../../static/images/green.webp' alt='')
// Downloads
section#downloads.wrapper.style2
  #dl.inner
    header#pl.align-center
      h1 Pipeline (Experimental)
      p Pipeline builds are built from the latest source code and are updated regularly, but are less tested.
        br
        | If you are using the pipeline version of OpenRGB, you may also need to use the pipeline version of plugins.
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBFanSyncPlugin')
        | GitLab (Source)
      br
      br
    header#pl-windows.align-center 
      h1 Windows Pipeline Builds
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBFanSyncPlugin/-/jobs/artifacts/master/download?job=Windows+64+MSI')
        | Windows Installer (64-bit)
      br
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBFanSyncPlugin/-/jobs/artifacts/master/download?job=Windows+64')
        | Windows (64-bit)
      |  - 
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBFanSyncPlugin/-/jobs/artifacts/master/download?job=Windows+32')
        | Windows (32-bit)
      br
      br
    header#pl-linux-x86.align-center
      h1 x86 Linux Pipeline Builds
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBFanSyncPlugin/-/jobs/artifacts/master/download?job=Linux+amd64')
        | Linux amd64
      |  - 
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBFanSyncPlugin/-/jobs/artifacts/master/download?job=Linux+i386')
        | Linux i386
      br
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBFanSyncPlugin/-/jobs/artifacts/master/download?job=Linux+amd64+.deb+(Debian+Bookworm)')
        | Linux amd64 (Debian Bookworm .deb)
      |  - 
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBFanSyncPlugin/-/jobs/artifacts/master/download?job=Linux+i386+.deb+(Debian+Bookworm)')
        | Linux i386 (Debian Bookworm .deb)
      br
      br
    header#pl-linux-arm.align-center
      h1 Arm Linux Pipeline Builds
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBFanSyncPlugin/-/jobs/artifacts/master/download?job=Linux+arm64')
        | Linux arm64
      |  - 
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBFanSyncPlugin/-/jobs/artifacts/master/download?job=Linux+armhf')
        | Linux armhf
      br
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBFanSyncPlugin/-/jobs/artifacts/master/download?job=Linux+arm64+.deb+(Debian+Bookworm)')
        | Linux arm64 (Debian Bookworm .deb)
      |  - 
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBFanSyncPlugin/-/jobs/artifacts/master/download?job=Linux+armhf+.deb+(Debian+Bookworm)')
        | Linux armhf (Debian Bookworm .deb)
      br
      br
    header#pl-macos.align-center
      h1 MacOS Pipeline Builds
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBFanSyncPlugin/-/jobs/artifacts/master/download?job=MacOS+ARM64')
        | MacOS (Apple Silicon ARM64)
      |  - 
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBFanSyncPlugin/-/jobs/artifacts/master/download?job=MacOS+Intel')
        | MacOS (Intel)
      br
      br

// Footer
include includes/footer.pug
