doctype html
//
  Hielo by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
head
  title OpenRGB Scheduler Plugin
  include includes/head.pug

// Header
include includes/header.pug
  
// Nav
include includes/nav.pug

// Banner
section.banner.half
  article
    img(src='../../static/images/green.webp' alt='OpenRGB green color scheme')
    .inner
      header
        p Automate your OpenRGB lighting with the OpenRGB Scheduler Plugin
      button
        a(href='#downloads') Download
// Description
section#description.wrapper.style2
  .inner
    p
      | Want your RGB to shut off before bedtime but glow during the day? The OpenRGB Scheduler Plugin lets you create
      | customized schedules so that your RGB works exactly as you want it to all throughout the day.
    br
// Banner
section.banner.half
  article
    img(src='../../static/images/green.webp' alt='')
// Downloads
section#downloads.wrapper.style2
  #dl.inner
    header#pl.align-center
      h1 Pipeline (Experimental)
      p Pipeline builds are built from the latest source code and are updated regularly, but are less tested.
        br
        | If you are using the pipeline version of OpenRGB, you may also need to use the pipeline version of plugins.
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBSchedulerPlugin')
        | GitLab (Source)
      br
      br
    header#pl-windows.align-center 
      h1 Windows Pipeline Builds
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBSchedulerPlugin/-/jobs/artifacts/master/download?job=Windows+64+MSI')
        | Windows Installer (64-bit)
      br
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBSchedulerPlugin/-/jobs/artifacts/master/download?job=Windows+64')
        | Windows (64-bit)
      |  - 
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBSchedulerPlugin/-/jobs/artifacts/master/download?job=Windows+32')
        | Windows (32-bit)
      br
      br
    header#pl-linux-x86.align-center
      h1 x86 Linux Pipeline Builds
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBSchedulerPlugin/-/jobs/artifacts/master/download?job=Linux+amd64')
        | Linux amd64
      |  - 
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBSchedulerPlugin/-/jobs/artifacts/master/download?job=Linux+i386')
        | Linux i386
      br
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBSchedulerPlugin/-/jobs/artifacts/master/download?job=Linux+amd64+.deb+(Debian+Bookworm)')
        | Linux amd64 (Debian Bookworm .deb)
      |  - 
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBSchedulerPlugin/-/jobs/artifacts/master/download?job=Linux+i386+.deb+(Debian+Bookworm)')
        | Linux i386 (Debian Bookworm .deb)
      br
      br
    header#pl-linux-arm.align-center
      h1 Arm Linux Pipeline Builds
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBSchedulerPlugin/-/jobs/artifacts/master/download?job=Linux+arm64')
        | Linux arm64
      |  - 
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBSchedulerPlugin/-/jobs/artifacts/master/download?job=Linux+armhf')
        | Linux armhf
      br
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBSchedulerPlugin/-/jobs/artifacts/master/download?job=Linux+arm64+.deb+(Debian+Bookworm)')
        | Linux arm64 (Debian Bookworm .deb)
      |  - 
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBSchedulerPlugin/-/jobs/artifacts/master/download?job=Linux+armhf+.deb+(Debian+Bookworm)')
        | Linux armhf (Debian Bookworm .deb)
      br
      br
    header#pl-macos.align-center
      h1 MacOS Pipeline Builds
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBSchedulerPlugin/-/jobs/artifacts/master/download?job=MacOS+ARM64')
        | MacOS (Apple Silicon ARM64)
      |  - 
      a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBSchedulerPlugin/-/jobs/artifacts/master/download?job=MacOS+Intel')
        | MacOS (Intel)
      br
      br

// Footer
include includes/footer.pug
