doctype html
//
  Hielo by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
head
  title OpenRGB - Releases
  include includes/head.pug

// Header
include includes/header.pug

// Nav
include includes/nav.pug

// Divider
section#divider.wrapper.style3
  .inner
// Downloads
section#downloads.wrapper.style2
  .inner
    header.align-center
      p
        | Release Candidate 1.0rc1 (February 22, 2025)
      a(href='/releases/release_candidate_1.0rc1/OpenRGB_1.0rc1_Windows_64_1fbacde.msi')
        | Windows Installer (64-bit)
      br
      a(href='/releases/release_candidate_1.0rc1/OpenRGB_1.0rc1_Windows_64_1fbacde.zip')
        | Windows Portable (64-bit)
      |  - 
      a(href='/releases/release_candidate_1.0rc1/OpenRGB_1.0rc1_Windows_32_1fbacde.zip')
        | Windows Portable (32-bit)
      br 
      a(href='/releases/release_candidate_1.0rc1/openrgb_1.0rc1_amd64_bookworm_1fbacde.deb')
        | Linux amd64 (Debian Bookworm .deb)
      |  - 
      a(href='/releases/release_candidate_1.0rc1/openrgb_1.0rc1_i386_bookworm_1fbacde.deb')
        | Linux i386 (Debian Bookworm .deb)
      br
      a(href='/releases/release_candidate_1.0rc1/OpenRGB_1.0rc1_x86_64_1fbacde.AppImage')
        | Linux amd64 (AppImage)
      |  - 
      a(href='/releases/release_candidate_1.0rc1/OpenRGB_1.0rc1_i386_1fbacde.AppImage')
        | Linux i386 (AppImage)
      br
      a(href='/releases/release_candidate_1.0rc1/openrgb_1.0rc1_x86_64_f40_1fbacde.rpm')
        | Linux amd64 (Fedora F40 .rpm) 
      br
      a(href='/releases/release_candidate_1.0rc1/openrgb_1.0rc1_arm64_bookworm_1fbacde.deb')
        | Linux arm64 (Debian Bookworm .deb)
      |  - 
      a(href='/releases/release_candidate_1.0rc1/openrgb_1.0rc1_armhf_bookworm_1fbacde.deb')
        | Linux armhf (Debian Bookworm .deb)
      br
      a(href='/releases/release_candidate_1.0rc1/OpenRGB_1.0rc1_arm64_1fbacde.AppImage')
        | Linux arm64 (AppImage)
      |  - 
      a(href='/releases/release_candidate_1.0rc1/OpenRGB_1.0rc1_armhf_1fbacde.AppImage')
        | Linux armhf (AppImage)
      br
      a(href='/releases/release_candidate_1.0rc1/OpenRGB_1.0rc1_MacOS_Intel_1fbacde.zip')
        | MacOS (Intel x86)
      |  - 
      a(href='/releases/release_candidate_1.0rc1/OpenRGB_1.0rc1_MacOS_ARM64_1fbacde.zip')
        | MacOS (Apple Silicon ARM64)
    br
    header.align-center
      p
        | Release 0.9 (July 9, 2023)
    header.align-center
      a(href='/releases/release_0.9/OpenRGB_0.9_Windows_64_b5f46e3.zip')
        | Windows (64-bit)
      | 
      span - 
      a(href='/releases/release_0.9/OpenRGB_0.9_Windows_32_b5f46e3.zip')
        | Windows (32-bit)
      br
      a(href='/releases/release_0.9/OpenRGB_0.9_x86_64_b5f46e3.AppImage')
        | Linux (64-bit AppImage)
      | 
      span - 
      a(href='/releases/release_0.9/OpenRGB_0.9_i386_b5f46e3.AppImage')
        | Linux (32-bit AppImage)
      br
      a(href='/releases/release_0.9/openrgb_0.9_amd64_buster_b5f46e3.deb')
        | Linux (Debian Buster 64-bit .deb)
      | 
      span - 
      a(href='/releases/release_0.9/openrgb_0.9_i386_buster_b5f46e3.deb')
        | Linux (Debian Buster 32-bit .deb)
      br
      a(href='/releases/release_0.9/openrgb_0.9_amd64_bullseye_b5f46e3.deb')
        | Linux (Debian Bullseye 64-bit .deb)
      | 
      span - 
      a(href='/releases/release_0.9/openrgb_0.9_i386_bullseye_b5f46e3.deb')
        | Linux (Debian Bullseye 32-bit .deb)
      br
      a(href='/releases/release_0.9/openrgb_0.9_amd64_bookworm_b5f46e3.deb')
        | Linux (Debian Bookworm 64-bit .deb)
      | 
      span - 
      a(href='/releases/release_0.9/openrgb_0.9_i386_bookworm_b5f46e3.deb')
        | Linux (Debian Bookworm 32-bit .deb)
      br
      a(href='/releases/release_0.9/openrgb_0.9_x86_64_f35_b5f46e3.rpm')
        | Linux (Fedora 35 64-bit .rpm)
      | 
      span - 
      a(href='/releases/release_0.9/openrgb_0.9_x86_64_f36_b5f46e3.rpm')
        | Linux (Fedora 36 64-bit .rpm)
      br
      a(href='/releases/release_0.9/OpenRGB_0.9_MacOS_ARM64_b5f46e3.zip')
        | MacOS (Apple Silicon ARM64)
      | 
      span - 
      a(href='/releases/release_0.9/OpenRGB_0.9_MacOS_Intel_b5f46e3.zip')
        | MacOS (Intel)
    br
    header.align-center
      p
        | Release 0.8 (November 27, 2022)
    header.align-center
      a(href='/releases/release_0.8/OpenRGB_0.8_Windows_64_fb88964.zip')
        | Windows (64-bit)
      | 
      span - 
      a(href='/releases/release_0.8/OpenRGB_0.8_Windows_32_fb88964.zip')
        | Windows (32-bit)
      br
      a(href='/releases/release_0.8/OpenRGB_0.8_x86_64_fb88964.AppImage')
        | Linux (64-bit AppImage)
      | 
      span - 
      a(href='/releases/release_0.8/OpenRGB_0.8_i386_fb88964.AppImage')
        | Linux (32-bit AppImage)
      br
      a(href='/releases/release_0.8/openrgb_0.8_amd64_buster_fb88964.deb')
        | Linux (Debian Buster 64-bit .deb)
      | 
      span - 
      a(href='/releases/release_0.8/openrgb_0.8_i386_buster_fb88964.deb')
        | Linux (Debian Buster 32-bit .deb)
      br
      a(href='/releases/release_0.8/openrgb_0.8_amd64_bullseye_fb88964.deb')
        | Linux (Debian Bullseye 64-bit .deb)
      | 
      span - 
      a(href='/releases/release_0.8/openrgb_0.8_i386_bullseye_fb88964.deb')
        | Linux (Debian Bullseye 32-bit .deb)
      br
      a(href='/releases/release_0.8/openrgb_0.8_amd64_bookworm_fb88964.deb')
        | Linux (Debian Bookworm 64-bit .deb)
      | 
      span - 
      a(href='/releases/release_0.8/openrgb_0.8_i386_bookworm_fb88964.deb')
        | Linux (Debian Bookworm 32-bit .deb)
      br
      a(href='/releases/release_0.8/openrgb_0.8_x86_64_f35_fb88964.rpm')
        | Linux (Fedora 35 64-bit .rpm)
      | 
      span - 
      a(href='/releases/release_0.8/openrgb_0.8_x86_64_f36_fb88964.rpm')
        | Linux (Fedora 36 64-bit .rpm)
      br
      a(href='/releases/release_0.8/OpenRGB_0.8_MacOS_ARM64_fb88964.zip')
        | MacOS (Apple Silicon ARM64)
      | 
      span - 
      a(href='/releases/release_0.8/OpenRGB_0.8_MacOS_Intel_fb88964.zip')
        | MacOS (Intel)
    br
    header.align-center
      p
        | Release 0.7 (December 30, 2021)
    header.align-center
      a(href='/releases/release_0.7/OpenRGB_0.7_Windows_64_6128731.zip') Windows (64-bit)
      a(href='/releases/release_0.7/OpenRGB_0.7_Windows_32_6128731.zip') Windows (32-bit)
      br
      a(href='/releases/release_0.7/OpenRGB_0.7_x86_64_6128731.AppImage')
        | Linux (64-bit
        | AppImage)
      | 
      span - 
      a(href='/releases/release_0.7/OpenRGB_0.7_i386_6128731.AppImage')
        | Linux (32-bit
        | AppImage)
      br
      a(href='/releases/release_0.7/openrgb_0.7_amd64_buster_6128731.deb')
        | Linux (Debian Buster
        | 64-bit .deb)
      | 
      span - 
      a(href='/releases/release_0.7/openrgb_0.7_i386_buster_6128731.deb')
        | Linux (Debian Buster
        | 32-bit .deb)
      br
      a(href='/releases/release_0.7/openrgb_0.7_amd64_bullseye_6128731.deb')
        | Linux (Debian
        | Bullseye 64-bit .deb)
      | 
      span - 
      a(href='/releases/release_0.7/openrgb_0.7_i386_bullseye_6128731.deb')
        | Linux (Debian Bullseye
        | 32-bit .deb)
      br
      a(href='/releases/release_0.7/openrgb_0.7_armhf_raspbian_bullseye_6128731.deb')
        | Linux
        | (Raspbian Bullseye armhf .deb)
      br
      a(href='/releases/release_0.7/openrgb_0.7_x86_64_6128731.rpm') Linux (64-bit .rpm)
      br
      a(href='/releases/release_0.7/OpenRGB_0.7_MacOS_ARM64_6128731.zip')
        | MacOS (Apple Silicon
        | ARM64)
      | 
      span - 
      a(href='/releases/release_0.7/OpenRGB_0.7_MacOS_Intel_6128731.zip') MacOS (Intel)
    br
    header.align-center
      p
        | Release 0.6 (June 1, 2021)
    header.align-center
      a(href='/releases/release_0.6/OpenRGB_0.6_Windows_64_405ff7f.zip') Windows (64-bit)
      | 
      span - 
      a(href='/releases/release_0.6/OpenRGB_0.6_Windows_32_405ff7f.zip') Windows (32-bit)
      br
      a(href='/releases/release_0.6/OpenRGB_0.6_x86_64_405ff7f.AppImage')
        | Linux (64-bit
        | AppImage)
      | 
      span - 
      a(href='/releases/release_0.6/OpenRGB_0.6_i386_405ff7f.AppImage')
        | Linux (32-bit
        | AppImage)
      br
      a(href='/releases/release_0.6/openrgb_0.6_amd64_405ff7f.deb') Linux (64-bit .deb)
      | 
      span - 
      a(href='/releases/release_0.6/openrgb_0.6_i386_405ff7f.deb') Linux (32-bit .deb)
      br
      a(href='/releases/release_0.6/openrgb_0.6_amd64_bullseye_405ff7f.deb')
        | Linux (Debian
        | Bullseye 64-bit .deb)
      | 
      span - 
      a(href='/releases/release_0.6/openrgb_0.6_i386_bullseye_405ff7f.deb')
        | Linux (Debian Bullseye
        | 32-bit .deb)
      br
      a(href='/releases/release_0.6/openrgb_0.6_x86_64_405ff7f.rpm') Linux (64-bit .rpm)
      br
      a(href='/releases/release_0.6/OpenRGB_0.6_MacOS_ARM64_405ff7f.zip')
        | MacOS (Apple Silicon
        | ARM64)
      | 
      span - 
      a(href='/releases/release_0.6/OpenRGB_0.6_MacOS_Intel_405ff7f.zip') MacOS (Intel)
    br
    header.align-center
      p
        | Release 0.5 (December 6, 2020)
    header.align-center
      a(href='/releases/release_0.5/OpenRGB_0.5_64_88464d1.7z') Windows (64-bit)
      | 
      span - 
      a(href='/releases/release_0.5/OpenRGB_0.5_32_88464d1.7z') Windows (32-bit)
      br
      a(href='/releases/release_0.5/OpenRGB_0.5_x86_64_88464d1.AppImage')
        | Linux (64-bit
        | AppImage)
      | 
      span - 
      a(href='/releases/release_0.5/OpenRGB_0.5_i386_88464d1.AppImage')
        | Linux (32-bit
        | AppImage)
      br
      a(href='/releases/release_0.5/openrgb_0.5_amd64_88464d1.deb') Linux (64-bit .deb)
      | 
      span - 
      a(href='/releases/release_0.5/openrgb_0.5_i386_88464d1.deb') Linux (32-bit .deb)
      | 
      span - 
      a(href='/releases/release_0.5/openrgb_0.5_arm64_88464d1.deb') Linux (arm64 .deb)
    br
    header.align-center
      p
        | Release 0.4 (September 9, 2020)
    header.align-center
      a(href='/releases/release_0.4/OpenRGB_0.4_64_1177e9fa.7z') Windows (64-bit)
      | 
      span - 
      a(href='/releases/release_0.4/OpenRGB_0.4_32_1177e9fa.7z') Windows (32-bit)
      br
      a(href='/releases/release_0.4/OpenRGB_0.4_64_1177e9fa.AppImage') Linux (64-bit AppImage)
      | 
      span - 
      a(href='/releases/release_0.4/OpenRGB_0.4_32_1177e9fa.AppImage') Linux (32-bit AppImage)
    br
    header.align-center
      p
        | Release 0.3 (July 21, 2020)
    header.align-center
      a(href='/releases/release_0.3/OpenRGB_0.3_64_308bb6f9.7z') Windows (64-bit)
      | 
      span - 
      a(href='/releases/release_0.3/OpenRGB_0.3_32_308bb6f9.7z') Windows (32-bit)
      br
      a(href='/releases/release_0.3/OpenRGB_0.3_64_308bb6f9.AppImage') Linux (64-bit AppImage)
    br
    header.align-center
      p
        | Release 0.2 (May 12, 2020)
    header.align-center
      a(href='/releases/release_0.2/OpenRGB_0.2_64_13414ec9.7z') Windows (64-bit)
      | 
      span - 
      a(href='/releases/release_0.2/OpenRGB_0.2_32_13414ec9.7z') Windows (32-bit)
    br
    header.align-center
      p
        | Release 0.1 (March 28, 2020)
    header.align-center
      a(href='/releases/release_0.1/OpenRGB_0.1_64_91c8ec0c.7z') Windows (64-bit)
      | 
      span - 
      a(href='/releases/release_0.1/OpenRGB_0.1_32_91c8ec0c.7z') Windows (32-bit)

// Footer
include includes/footer.pug
